<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
</head>

<body class="post">

{% include _browser-upgrade.html %}

{% if page.standalone %}
{% else %}
  {% include _navigation.html %}
{% endif %}

{% if page.image.feature %}
  <div class="image-wrap">
  <img src=
    {% if page.image.feature contains 'http://' %}
      "{{ page.image.feature }}"
    {% else %}
      "{{ site.url }}/images/{{ page.image.feature }}"
    {% endif %}
  alt="{{ page.title }} feature image">
  <span class="image-credit">
    {% if page.image.caption %}
       <a href="{{ page.image.captionlink }}">{{ page.image.caption }}</a>
    {% endif %}
    {% if page.image.location %}
       <a href="{{ page.image.locationlink }}">{{ page.image.location }}</a>
    {% endif %}
    {% if page.image.credit %}
       &copy <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a>
    {% endif %}
  </span>
  </div><!-- /.image-wrap -->
{% endif %}

<div id="main" role="main">
  <div class="article-author-side">
    {% include _author-bio.html %}
  </div>
  <article>
    <div class="headline-wrap">
      {% if page.link %}
        <h1><a href="{{ page.link }}">{{ page.title }}</a></h1>
      {% else %}
        <h1><a href="{{ site.url }}{{ page.url }}" rel="bookmark" title="{{ page.title }}">{{ page.title }}</a></h1>
      {% endif %}
    </div><!--/ .headline-wrap -->
    <div class="article-wrap">
      {{ content }}
      <hr />
      <footer role="contentinfo">
        <div class="article-author-bottom">
          {% include _author-bio.html %}
        </div>
        {% if page.lang == 'de' %}
          <p class="byline">Veröffentlicht am <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%d.%m.%Y" }}</time>{% if page.modified %} und zuletzt aktualisiert am <time datetime="{{ page.modified | date: "%Y-%m-%d" }}">{{ page.modified | date: "%d.%m.%Y" }}</time>{% endif %} von <a href="{{ site.url }}/about" title="About {{ site.owner.name }}">{{ site.owner.name }}</a>.</p>
        {% else %}
          <p class="byline">Published on <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %d, %Y" }}</time>{% if page.modified %} and last modified on <time datetime="{{ page.modified | date: "%Y-%m-%d" }}">{{ page.modified | date: "%B %d, %Y" }}</time>{% endif %} by <a href="{{ site.url }}/about" title="About {{ site.owner.name }}">{{ site.owner.name }}</a>.</p>
        {% endif %}
      </footer>
    </div><!-- /.article-wrap -->
  {% if site.disqus_shortname and page.comments %}
    <section id="disqus_thread"></section><!-- /#disqus_thread -->
  {% endif %}
  </article>
</div><!-- /#main -->

<div class="footer-wrap">
  <footer>
    {% include _footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include _scripts.html %}

</body>
</html>